<div class="window-content character-sheet-form" autocomplete="off">
    <div class="character-sheet">
        <div class="vertical-text">
            ONEMORELOSTSOUL
        </div>
        <div class="sheet-content">
            <div class="line-input">
                <input name="name" type="text" class="text-input" value="{{actor.name}}">
                <label>1. Choose your character's <span class="emphasis">name</span></label>
            </div>
            <div class="line-input">
                <div class="history-specialty">
                    <input name="system.history" type="text" class="text-input" value="{{system.history}}">
                    <input name="system.speciality" type="text" class="text-input" value="{{system.speciality}}">
                </div>
                <label>2. Roll 1d10 for your <span class="emphasis">history</span> then 1d10 for your <span class="emphasis">speciality</span> (pg. 4.1)</label>
            </div>

            <div class="stats">
                <div class="box-input">
                    <input name="system.stats.brain" type="number" class="text-input" value="{{system.stats.brain}}">
                    <label>Brain</label>
                </div>
                <div class="box-input">
                    <input name="system.stats.lungs" type="number" class="text-input" value="{{system.stats.lungs}}">
                    <label>Lungs</label>
                </div>
                <div class="box-input">
                    <input name="system.stats.nerves" type="number" class="text-input" value="{{system.stats.nerves}}">
                    <label>Nerves</label>
                </div>
                <div class="box-input">
                    <input name="system.wet" type="number" class="text-input" value="{{system.wet}}">
                    <label>Wet</label>
                </div>
                <div class="bigwet-tooltip">
                    Wet changes at the following rates, based on conditions:
                    <ul>
                        <li><span class="small-emphasis">Damp:</span> +1/hr</li>
                        <li><span class="small-emphasis">Dripping:</span> +2/hr</li>
                        <li><span class="small-emphasis">Drenched:</span> +3/hr</li>
                        <li><span class="small-emphasis">Dry:</span> -3 Wet/hr</li>
                    </ul>
                    Stay dry to avoid Wet.
                </div>
            </div>
            <label class="stat-label">3. Roll 3d10 + 25 for each of your <span class="emphasis">stats.</span><label>
            <label class="wet-label">Except Wet, which is bad (pg. 3.2)<label>
            <div class="workspace">
                <div class="wounds-area">
                    <img src="systems/thebigwet/assets/bigwet-guy.png">
                    <label>Wounds & Injuries</label>
                </div>
                <div class="notes-input">
                    <textarea class="notes" name="system.notes">{{system.notes}}</textarea>
                    <label>Notes</label>
                </div>
                <div class="inventory">
                    <div class="inventory-title">
                        Inventory // You have Slots = Lungs / 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

